# Build files
*.obj
*.tlog
*.bsc
*.ilk
*.aps
*.res
*.exp
RC*
src/*.lib

# Debug information
*.pdb
*.idb
*.log

# Processed ressources
*.sbr
src/Resources/Debug/

# Compiled files
*.exe
*.dll

# Visual Studio files
src/.vs/
*.pch
*.vcxproj.user